API_URL=http://api_server_ip:8000/api
COLLECTOR_USERNAME=my_collector_user
COLLECTOR_PASSWORD=my_collector_password
COLLECTOR_INTERVAL_SECONDS=60
USE_MOCK_METRICS=true

# Comma-separated list of NAS targets (format: id:ip)
NAS_TARGETS=nas-id-1:192.168.x.x,nas-id-2:192.168.x.y
CEPH_METRICS_URL=http://192.168.x.z:9283/metrics
